body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

article {  
  width: 300px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

header {
  padding-top: 3%;
  padding-left: 10%;
  position: fixed;
  top: 0;
  left: 0;
}


@media only screen and (max-width: 500px) {
  article {
    
    text-align: center;
  } 
  img {
    width: 20%;
  }
  section {
      grid-template-columns: repeat(1, 1fr);
  }

  
}